<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <AssemblyStatus>Exclude</AssemblyStatus>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">
    <!-- Deployment Properties -->
    <SitecoreWebUrl>http://sc93sc.dev.local/</SitecoreWebUrl>
    <SitecoreDeployFolder>\\SC93\wwwroot\sc93sc.dev.local</SitecoreDeployFolder>
    <RecursiveDeployAction>Ignore</RecursiveDeployAction>
    <InstallSitecoreConnector>True</InstallSitecoreConnector>
    <!--<DisableFileDeployment>False</DisableFileDeployment>-->
    <SitecoreAccessGuid>82a0246b-6c41-41b6-af8e-eeba579f1d9e</SitecoreAccessGuid>
    <!-- <IncludeItemsChangedAfter>$([System.DateTime]::Now.AddDays(-90).ToString("yyyy-MM-dd"))</IncludeItemsChangedAfter> -->
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Release' ">
    <!-- <IncludeItemsChangedAfter>$([System.DateTime]::Now.AddDays(-90).ToString("yyyy-MM-dd"))</IncludeItemsChangedAfter> -->
  </PropertyGroup>
  <ItemGroup>
    <ExcludedAssemblies Include="Antlr.%2a" />
    <ExcludedAssemblies Include="System.Web.Optimization.%2a" />
    <ExcludedAssemblies Include="Microsoft.Web.Infrastructure.%2a" />
    <ExcludedAssemblies Include="Newtonsoft.Json.%2a" />
    <ExcludedAssemblies Include="WebGrease.%2a" />
    <ExcludedAssemblies Include="HtmlAgilityPack.%2a" />
    <ExcludedAssemblies Include="System.Web.%2a" />
    <ExcludedAssemblies Include="WebActivatorEx.%2a" />
    <ExcludedAssemblies Include="MongoDB.%2a" />
    <ExcludedAssemblies Include="Sitecore.Abstractions.%2a" />
    <ExcludedAssemblies Include="Sitecore.Analytics.%2a" />
    <ExcludedAssemblies Include="Sitecore.Apps.%2a" />
    <ExcludedAssemblies Include="Sitecore.Buckets.%2a" />
    <ExcludedAssemblies Include="Sitecore.CES.%2a" />
    <ExcludedAssemblies Include="Sitecore.Cintel.%2a" />
    <ExcludedAssemblies Include="Sitecore.Client.%2a" />
    <ExcludedAssemblies Include="Sitecore.Cloud.%2a" />
    <ExcludedAssemblies Include="Sitecore.ContentSearch.%2a" />
    <ExcludedAssemblies Include="Sitecore.ContentTesting.%2a" />
    <ExcludedAssemblies Include="Sitecore.ControlPanel.%2a" />
    <ExcludedAssemblies Include="Sitecore.ExperienceAnalytics.%2a" />
    <ExcludedAssemblies Include="Sitecore.ExperienceEditor.%2a" />
    <ExcludedAssemblies Include="Sitecore.Forms.%2a" />
    <ExcludedAssemblies Include="Sitecore.FXM.%2a" />
    <ExcludedAssemblies Include="Sitecore.ItemWebApi.%2a" />
    <ExcludedAssemblies Include="Sitecore.Kernel.%2a" />
    <ExcludedAssemblies Include="Sitecore.LaunchPad.%2a" />
    <ExcludedAssemblies Include="Sitecore.ListManagement.%2a" />
    <ExcludedAssemblies Include="Sitecore.Logging.%2a" />
    <ExcludedAssemblies Include="Sitecore.Marketing.%2a" />
    <ExcludedAssemblies Include="Sitecore.Mvc.%2a" />
    <ExcludedAssemblies Include="sitecore.nexus.%2a" />
    <ExcludedAssemblies Include="Sitecore.NVelocity.dll" />
    <ExcludedAssemblies Include="Sitecore.Oracle.%2a" />
    <ExcludedAssemblies Include="Sitecore.PathAnalyzer.%2a" />
    <ExcludedAssemblies Include="Sitecore.Security.%2a" />
    <ExcludedAssemblies Include="Sitecore.SegmentBuilder.%2a" />
    <ExcludedAssemblies Include="Sitecore.SequenceAnalyzer.%2a" />
    <ExcludedAssemblies Include="Sitecore.Services.%2a" />
    <ExcludedAssemblies Include="Sitecore.SessionProvider.%2a" />
    <ExcludedAssemblies Include="Sitecore.Shell.%2a" />
    <ExcludedAssemblies Include="Sitecore.Social.%2a" />
    <ExcludedAssemblies Include="Sitecore.Speak.%2a" />
    <ExcludedAssemblies Include="Sitecore.Update.%2a" />
    <ExcludedAssemblies Include="Sitecore.Web.%2a" />
    <ExcludedAssemblies Include="Sitecore.WFFM.%2a" />
    <ExcludedAssemblies Include="Sitecore.Xdb.%2a" />
    <ExcludedAssemblies Include="Sitecore.Zip.%2a" />
  </ItemGroup>
</Project>