<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <register serviceType="Feature.SitecoreModule.Controllers.SitecoreModuleController, Feature.SitecoreModule"
                      implementationType="Feature.SitecoreModule.Controllers.SitecoreModuleController, Feature.SitecoreModule"
                      lifetime="Transient"/>
            <register serviceType="Feature.SitecoreModule.Controllers.ModuleSearchController, Feature.SitecoreModule"
                      implementationType="Feature.SitecoreModule.Controllers.ModuleSearchController, Feature.SitecoreModule"
                      lifetime="Transient"/>
            <register serviceType="Feature.SitecoreModule.Repositories.IModuleSearchRepository, Feature.SitecoreModule"
                      implementationType="Feature.SitecoreModule.Repositories.ModuleSearchRepository, Feature.SitecoreModule"
                      lifetime="Transient"/>
        </services>

        <contentSearch>
            <indexConfigurations>
                <defaultSolrIndexConfiguration>
                    <documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions">
                        <fields hint="raw:AddComputedIndexField">
                            <field fieldName="_templates" returnType="string" type="Sitecore.ContentSearch.ComputedFields.AllTemplates, Sitecore.ContentSearch" deep="true" includeStandardTemplate="false" />
                        </fields>
                    </documentOptions>
                </defaultSolrIndexConfiguration>
            </indexConfigurations>
        </contentSearch>

    </sitecore>
</configuration>