<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <register serviceType="Feature.SitecoreModule.Controllers.SitecoreModuleController, Feature.SitecoreModule"
                      implementationType="Feature.SitecoreModule.Controllers.SitecoreModuleController, Feature.SitecoreModule"
                      lifetime="Transient"/>
        </services>
    </sitecore>
</configuration>