.contributor {
    padding-top:15px;
}
.min-screen {
    min-height: 600px;
}
.card-contributor {
    max-width: 277px;
    max-height: 92px;
}
.footer-center-custom {
    padding-bottom: 15px;
}

.home-search {
    padding-left: 30%;
    background: lightgray;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 8%;
}
.custom-list{
    list-style:none;
}
.search-button {
    padding-top: 10px;
}

.home-box {
    text-align: center;
}

div.home-box h2 {
    padding-bottom: 20px !important;
}

div.home-box p {
    padding-bottom: 50px !important;
}
