
<footer style="background:#45526e;color: white;">
    <hr>
    <div class="container">
        <p class="text-center footer-center-custom">Sitecore Hackathon 2020 © Go-Horse Team (2017-2020)</p>
    </div>
</footer>
